.navbar {
  background-color: #f8f8f8;
  color: #ff8800;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: #ff8800;
  margin: 0 10px;
}

.navbar a:hover {
  font-weight: bold;
}
