.navbar {
  background-color: orange;
  color: orange;
  font-family: Consolas, monospace;
  border-radius: 15px;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: darkorange;
  border-radius: 15px;
  font-weight: bold;
}
